.profiledetails ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.profiledetails ul li{
    font-weight: 400;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 20px;
}

.activeOption{
    color: black;
    border-top: 1px solid black;
    font-weight: 600 !important;
}

.profile_posts{
    display: flex;
}